.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: gill sans, sans-sans-serif;
}

.containers {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-family: gill sans, sans-sans-serif;
}

body {
  background-color: #fcfcfc;
}

nav {
  font-family: gill sans, sans-sans-serif;

}

.form-check {
  padding: 30px;
}

.container-fluid {
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 500px;
}

table {
  font-size: .8rem;
  vertical-align: middle;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover {
  background-color: #08ff87;
  text: #37003c;
}

.thead-light {
  background: rgba(55, 0, 60, 0.9);
  color: white;
  vertical-align: middle;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table-responsive > tbody > tr > td {
     vertical-align: middle;
}

/*======================================
=            CUSTOM GUTTER CODE            =
======================================*/

@media(min-width:768px) {  /* Modify this based on column def */

.custom-gutter > [class*='col-'] {
    padding-right:4px;
    padding-left:4px;
}

.custom-gutter > [class*="col-"]:first-child {
  padding-left:15px;
}

.custom-gutter > [class*="col-"]:last-child {
  padding-right:15px;
}

}
