{% extends "/z3_base.html" %}

{% block title %}FBB - Login{% endblock %}

{% block content %}

    <div class="container">

        <p>
            <h4>Login - Pick a Team</h4>
        </p>

        <form action="#" method="post">
            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="AKF">Annie</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="CC">Brian</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="CFC">Dan</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="IWU">Dave</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="DUD">Matt</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="JBY">Mike</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="FOX">Steve</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="BigF">Tim</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
                <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="MCCA">Tom</button>
                    <br><br>
                </div>
                </div>
            </div>

            <div class="container2">
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn btn-outline-dark btn-small mx-auto" style="width: 200px" name="fbb_user" value="tFox">Tommy</button>
                    <br><br>
                </div>
            </div>
            </div>

            <input type="hidden" name="user" value="Tommy">
        </form>
    </div>
{% endblock %}
